.flex { display: flex; }

.flex.fd-r  { flex-direction: row; }
.flex.fd-rr { flex-direction: row-reverse; }
.flex.fd-c  { flex-direction: column; }
.flex.fd-cr { flex-direction: column-reverse; }

.flex.fw-nw { flex-wrap: nowrap; }
.flex.fw-w  { flex-wrap: wrap; }
.flex.fw-wr { flex-wrap: wrap-reverse; }

.flex.jc-fs { justify-content: flex-start; }
.flex.jc-fe { justify-content: flex-end; }
.flex.jc-c  { justify-content: center; }
.flex.jc-sb { justify-content: space-between; }
.flex.jc-sa { justify-content: space-around; }

.flex.ai-fs { align-items: flex-start; }
.flex.ai-fe { align-items: flex-end; }
.flex.ai-c  { align-items: center; }
.flex.ai-b  { align-items: baseline; }
.flex.ai-s  { align-items: stretch; }

.flex.ac-fs { align-content: flex-start; }
.flex.ac-fe { align-content: flex-end; }
.flex.ac-c  { align-content: center; }
.flex.ac-sb { align-content: space-between; }
.flex.ac-sa { align-content: space-around; }
.flex.ac-s  { align-content: stretch; }

.flex > .as-a  { align-self: auto; }
.flex > .as-fs { align-self: flex-start; }
.flex > .as-fe { align-self: flex-end; }
.flex > .as-c  { align-self: center; }
.flex > .as-b  { align-self: baseline; }
.flex > .as-s  { align-self: stretch; }

/* --- for future : https://developer.mozilla.org/en-US/docs/Web/CSS/attr#Browser_compatibility --- */
.flex > [order]       { order: attr(order); }
.flex > [flex-grow]   { flex-grow: attr(flex-grow); }
.flex > [flex-shrink] { flex-shrink: attr(flex-shrink); }
.flex > [flex-basis]  { flex-basis: attr(flex-basis); }
.flex > [flex]        { flex: attr(flex); }
.flex > [align-self]  { align-self: attr(align-self); }